.glitch-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    flex-direction: column;
}

.glitch-wrapper h2 {
    font-size: 2.8rem;
    margin: 1rem 1rem 6rem 1rem;
}

.glitch-wrapper p {
    font-size: 2.2rem;
    margin: 4rem;
}

.glitch-wrapper button {
    outline: none;
    border: none;
    background-color: rgba(132, 47, 213, 1);
    padding: 1rem 2.2rem;
    border-radius: 1rem;
}

.glitch-wrapper button>a {
    text-decoration: none;
    color: white;
}

.glitch {
    overflow: hidden;
    position: relative;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
}

.glitch:before,
.glitch:after {
    display: block;
    content: "404";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch.h2:before,
.glitch.h2:after {
    content: "Oops! Page not found";
}

.glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
}

.glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff;
    z-index: -2;
}

@keyframes glitch-color {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    to {
        transform: translate(0);
    }
}